[Unit]
Description=Bauwagen Lichtsteuerung PyQt Touchoberflaeche
After=bw-web.service
Requires=bw-web.service

[Service]
Type=simple
User=bw
WorkingDirectory=/home/bw/bw_lichtsteuerung
StandardInput=tty
TTYPath=/dev/tty2
ExecStart=/home/bw/bw_lichtsteuerung/start_pyqt_x.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
